@{
    ViewBag.Title = "Home Page";
}

<style>
    .div_image_index_thumb{
        height:200px;
    }
</style>
<div class="jumbotron">
    <h1>ยินดีต้อนรับสู่ระบบ <br />Genius - ดาต้าเซ็นเตอร์</h1>
    <!--
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ส่งข้อมูลเข้าสู่ระบบ <br />สปส.</h2>
        <div class="div_image_index_thumb">
            <img src="~/Images/Logos/SPS.jpg" border="0" style="width:150px;" />
        </div>
        <!--
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
            -->
        <p><a class="btn btn-default" href="Sso/V_SSO_SendDataForm">ส่งข้อมูล &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ส่งข้อมูลเข้าสู่ระบบ <br />ธ.กสิกรไทย</h2>
        <div class="div_image_index_thumb">
            <img src="~/Images/Logos/LOGO-KBANK.jpg" border="0" style="width:150px;" />
        </div>
        <!--
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            -->
        <p><a class="btn btn-default" href="javaScript:void(0);">ส่งข้อมูล &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>กำลังอัพเดทข้อมูล <br />Under Construction</h2>
        <div class="div_image_index_thumb">
            <img src="~/Images/Logos/sign-512.png" border="0" style="width:150px;" />
            
            <!--<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>-->
        </div>
        <p><a class="btn btn-default" href="javaScript:void(0);" >Coming Soon</a></p>
    </div>
</div>