<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="B2BSign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <B2BSign.Properties.Settings>
            <setting name="B2BSign_AECWS_Auth_AuthenticationServiceService" serializeAs="String">
                <value>http://202.60.196.45/cubems/services/AuthenticationService</value>
            </setting>
            <setting name="B2BSign_AECWS_Cuss_CustomsServiceService" serializeAs="String">
                <value>http://202.60.196.45/cubems/services/CustomsService</value>
            </setting>
            <setting name="B2BSign_AECWS_Vans_VANServiceService" serializeAs="String">
                <value>http://202.60.196.45/cubems/services/VANService</value>
            </setting>
        </B2BSign.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
